@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kablammo&display=swap');

  @font-face {
    font-family: 'android' ;
    src: url(../fontes/idroid.otf);
    font-weight: normal;
  }

:root {
   --cor01:#04F06A;
   --cor02:#C2BBF0;
   --cor03:#0d4600;
    --cor04:#48A9A6;
    --cor05:#CBDF90;
    --font-padrao: Arial,Verdana, Helvetica, sans-serif;
    --font-destaque: 'bebas Neue', sans-serif;
    --font-android: 'android', sans-serif;
}

* {
margin: 0px;
padding: 0px;
}

body {
    background-color: var(--cor05);
    font-family: var(--font-padrao) ;
}

a.externo::after {
content: '\00A0\1F517';
}

header {
 background-image: linear-gradient(to bottom,#04F06A, #0d4600);
 min-height: 150px;
 text-align: center;
 padding-top: 40px;
}

header > h1 {
  color: #ffffff;
  font-family: var(--font-destaque);
  font-size: 3.8em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}

header > p {
    color: #ffffff;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;  
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}

nav {
    background-color: var(--cor03);
    padding: 10px; 
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.393) ;
}

nav > a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 1s;
}

nav >a:hover {
    background-color:#04F06A;
    color: #004346;
}

main {
    background-color: #ffffff;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.416);
    border-radius: 0px 0px 10px 10px;
}

main p {
    margin: 15px 0px 15px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.5em;
            }

main img {
  width: 100%;
}

main strong {
    
    color: #7aa948;
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    background-color: #cbcbcb6c;
    text-decoration: none;
    font-weight: bold;
    color: #003700;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: #248800;
}

main h1 {
    color: var(--cor03);
    font-family: var(--font-android);
    margin-bottom: 10px;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.466);
  font-size: 1.8em;
}

main h2 {
    font-family: var(--font-android);
    color: #04F06A;
    font-weight: 600;
    margin-bottom: 10px;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.466);
  background-image: linear-gradient(to right,#002d142d, transparent );
  text-indent: 10px;
}

main img.pequena {
     max-width: 350px;
     display: block;
     margin: auto;
  
}

div.video {
    background-color: #003700;
   margin: 0px -20px 30px -20px;
   padding: 20px;
   position: relative;
   padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    }

    aside {
        background-color: #04f06abb;
        padding: 10px;
        border-radius: 10px;
box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.33);
    }

    aside > ul {
        list-style-type: '\2714\00A0';
        list-style-position: inside;
        columns: 2;
    }

    aside > h3 {
        background-color: #003700;
        color: #ffffff;
        padding: 10px;
        margin: -10px -10px 0px -10px;
        border-radius: 10px 10px 0px 0px;
    }

footer {
    background-color: var(--cor03);
    color: #ffffff;
    text-align: center;
    font-size:0.8em;
    padding: 5px;
}

footer a {
    color: #ffffff;
    font-size:1.2em;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: #1bcf69d2;
}